* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0e501d;
    background-color: #b3e0d2;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Make the Animation Work on ALL Browsers */
@-webkit-keyframes fadeIn {
    from { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); }
    to { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }
}

main {
    -webkit-animation: fadeIn 0.5s ease-in forwards;
    animation: fadeIn 0.5s ease-in forwards;
    overflow: auto;
}

/* Heading Styles */
.page-header {
    padding: 1rem;
    background-color: #0B6E4F;
    border-bottom: 4px solid #0B6E4F;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    font-size: 2.5rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 485;
    color:rgb(9, 14, 159);
}