.timeline {
    position: relative;
    width: 100%;
    margin: 55px 0;
}

.container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    background: #39ae1f;
    color: white;
}

.text_box {
    padding: 20px 10px;
    position: relative;
    border-radius: 6px;
    font-size:15px;
}

h2 {
    color:white;
}

h3 {
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 1.7rem;
    text-align: center;
    color: rgb(30, 41, 193);
    font-weight: 550;
}

p {
    font-size: 1.1rem;
    padding-top: 5px;
}

.left-container {
    left:0;
}

.right-container {
    left:50%;
}

.timeline::after {
    content:"";
    position:absolute;
    width:6px;
    height:100%;
    background:rgba(11, 101, 11, 0.8);
    top:0;
    left:50%;
    margin-left:-3px;
    z-index:-1;
}