*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.timeline{
    position: relative;
    max-width:1200px;
    margin:100px;
}
.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    background:#0B6E4F;
    color: white;


}


h2{
    color:white;
}

h2{
    color:white
}
.textbox{
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
    font-size:15px;
   
}


.left-container{
    left:0;
}


.right-container{
    left:50%;
}


.timeline::after{
    content:"";
    position:absolute;
    width:6px;
    height:100%;
    background:rgba(11, 101, 11, 0.8);
    top:0;
    left:50%;
    margin-left:-3px;
    z-index:-1;


}

small{
    font-size: 15px;
}