main { 
    display: flex;
    justify-content: center;   
    align-items: center;       
    height: 80vh;              
}

form {
    background-color: #f9f9f9;  
    padding: 100px;              
    border-radius: 10px;        
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

label {
    color: black; 
}

button {
    color: black;  
    font-weight: bold;
}