h1 {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    padding: 0.7rem;
}

main > img {
    display: block;
    margin: 10px auto;
    border: 5px solid black;
    max-width: 70%;
}

h2 {
    text-align: left;
    padding-left: 1.8rem;
    padding-top: 1rem;
}

.fun-facts {
    padding-bottom: 1rem;
    padding-left: 1rem;
    font-size: clamp(1.25rem, 1.5vw, 1.75rem);
    font-weight: 400;
}

.fun-facts > ul > li {
    margin-top: 15px;
    margin-left: 25px;
}

.about {
    margin: 10px;
    margin-bottom: 20px;
}

.about > p {
    font-size: clamp(1.25rem, 1.5vw, 1.75rem);
    font-weight: 400;
}