.significantBox {
    border-radius: 5px;
    background-color: rgb(94, 147, 108);
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin: 2rem 1rem;
}

.significantPlaceImg {
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
    border-radius: 5px;
}

.tag > h2 {
    position: relative;
    color: #003548;
    font-weight: 540;
    font-size: 1.8rem;
    padding-bottom: 10px;
}

.tag > p {
    position: relative;
    color: #000000;
    font-weight: 100;
    font-size: 1.4rem;
    text-align: center;
}

.tag {
    margin: 1em 3em;
    text-align: center;
}

/* Map Styles */
#map {
    width: 100%;
    height: 500px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .significantBox {
        border-radius: 5px;
        background-color: rgb(94, 147, 108);
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        align-items: center;
    }
}