* {
    font-family: Arial, sans-serif;
}

body {
    background-color: #F4F7F7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F4E5F;
    position: relative;
    top: 0;
    left: 0;
    height: 7.5rem;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 20px 7px rgba(0, 0, 0, 0.1);
}

header > img {
    padding-left: 1rem;
}

header > nav > a {
    position: relative;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

header > nav > a:hover {
    color: #79A8A9;
}

header > nav {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    flex: 1;
    max-width: 70%;
    gap: 2rem;
}

header > nav > a {
    font-size: 1.5rem;
    font-weight:500;
    padding: 10px;
    padding-bottom: 15%;
    margin-top: 10%;
}

#currentTab {
    background-color: #79A8A9;
    color: #1F4E5F;
    display: inline-block;
    border-radius: 5px;
}

/* Nav */
main > h2,
main > h3 {
    text-align: center;
    position: relative;
    color: #002938;
    font-weight: 300;
}


main {
    margin-top: 3rem;
}