main { 
    display: flex;
    justify-content: center;   
    align-items: center;       
    height: 80vh;              
}

form {
    background-color:black;  
    padding: 100px;              
    border-radius: 20px;        
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    background-color:rgb(65, 121, 94);
}

label {
    color:black; 
}

button {
    color: black;  
    font-weight: bold;
}